/* Imports*/
@import "functions";
@import "variables";
@import "mixins";

@import "normalize.scss";

/* Media Variables */
$full-hd:                    "only screen and (min-width : 1681px) and (max-width : 1920px)";
$hd-plus:                    "only screen and (min-width : 1441px) and (max-width : 1680px)";
$laptop-with-hidpi:          "only screen and (min-width : 1367px) and (max-width : 1440px)";
$laptop:                     "only screen and (min-width : 1281px) and (max-width : 1366px)";
$laptop-with-touch:          "only screen and (min-width : 1025px) and (max-width : 1280px)";
$small-screen:               "only screen and (min-width : 769px) and (max-width : 1024px)";
$tablet:                     "only screen and (min-width : 421px) and (max-width : 768px)";
$smartphone:                 "only screen and (max-width : 420px)";


/* General */
*{
	list-style: none;
}

h1,h2,h3,h4,span{
	font-family: "Montserrat", sans-serif;
}

p{
	font-family: "Open Sans", sans-serif;
}

body{
	background-color: #fefefe;
}

/* Mobile Navigation */
.burger-container{
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 26px;
  right: 15px;
  z-index: 9999;
  font-weight: bold;
  border: 3px solid #64a507;
  padding: 6px 12px;
  @media #{$smartphone}{
    border: 3px solid #64a507;
  }
  p{
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    height: 53px;
    margin-top:auto;
    margin-bottom:auto;
    padding: 2px 15px 6px 10px;
    color: #64a507;
    @media #{$smartphone}{
      display: none;
    }
  }
  #burger{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 45px;
    background-color: transparent;
    margin-top:auto;
    margin-bottom:auto;
    @media #{$smartphone}{
      width: 20px;
      height: 20px;
    }
  }
}

#span1,#span2,#span3{
    display: block;
    height: 5px;
    position: relative;
    background: #64a507;
    @media #{$smartphone}{
      background: #64a507;
      height: 3px;
    }
}

#span1{
    top: 6.75px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    @media #{$smartphone}{
      top: 0.75px;
    }
}

#span2{
    top: 14.75px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    @media #{$smartphone}{
      top: 4.75px;
    }
}

#span3{
    top: 23.5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    @media #{$smartphone}{
      top: 8.75px;
    }
}
.spn1{
    transform-origin: center;
    transform: translateY(11.5px) rotate(-135deg);
    @media only screen and (max-width : 420px){
      transform: translateY(7.5px) rotate(-135deg);
    }
}

.spn2{
    opacity: 0;
}

.spn3{
    transform-origin: center;
    transform: translateY(-15.5px) rotate(135deg);
    @media only screen and (max-width : 420px){
      transform: translateY(-7.5px) rotate(135deg);
    }
}

.mobile-menu{
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  z-index: 6;
  display: table;
  display: none;
  padding: 40px;
  ul{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      a{
        font-size: 2em;
        font-weight: 600;
        letter-spacing: 5px;
        display: inline-block;
        padding: 20px;
        width: 100%;
        color: #eee;
        &:hover{
          background-color: #64a507;
          text-decoration: none;
          font-weight: 600;
          color: #222;
        }
      }
    }
  }
  span{
    position: absolute;
    font-size: 3em;
    top: 27px;
    right: 29px;
    color: #999;
    @media #{$smartphone}{
      font-size: 2em;
      right: 26px;
    }
  }
  opacity: .99;
}

.mobile-nav{
  display: none;
  text-align: center;
}

@media #{$small-screen}{
  .navbar{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
}
@media #{$tablet}{
  .navbar{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
}
@media #{$smartphone}{
  .navbar{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
}

// loader

#loader {
	position: fixed;
	width:  96px;
	height: 96px;
	left:  50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 24px 64px rgba(0,0,0,0.24);
	border-radius:16px;
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index:1000;
}

#loader.fullscreen {
	padding:  0;
	left:  0;
	top:  0;
	width:  100%;
	height: 100%;
	transform: none;
	background-color: #fff;
	border-radius: 0;
	box-shadow: none;
}

#loader.show {
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

#loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left:  calc(50% - 24px);
  top:  calc(50% - 24px);
  display: block;
  transform: rotate(0deg);
}

#loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

#home-header {
		position: relative;
		background-color: #fefefe;
		padding: 20px 65px;
}

#logo {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

#logo > img{
    width: 100px;
}

#home-header > ul {
    float: right;
    display: inline-block;
    vertical-align: middle;
		@media only screen and (min-width : 769px) and (max-width : 1024px){
				display: none;
			}
		@media only screen and (min-width : 421px) and (max-width : 768px){
		  display: none;
		}
		@media only screen and (max-width : 420px){
		  display: none;
		}
}

#home-header > ul > li {
    line-height: 60px;
    vertical-align: bottom;
    display: inline-block;
    cursor: default;
		border-bottom: 2px solid #fefefe;
		transition: all .2s ease;
}

#home-header > ul > li > a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
		font-size: .9em;
    letter-spacing: 2px;
    color: #333333;
    text-decoration: none;
    padding: 10px;
    opacity: .7;
    transition: all .5s ease;
}

#home-header > ul > li:hover{
	border-bottom: 2px solid #64a507;
}

#home-header > ul > li > a:hover {
    opacity: 1;
}

.active-nav{
	border-bottom: 2px solid #64a507 !important;
}

header{
	h1{
		position: relative;
		margin-top: 0;
		top: 140px;
		color: #fefefe;
		font-weight: bold;
    text-align: center;
    padding: 100px 50px 10px;
    text-shadow: 2px 2px #64a507;
		@media #{$full-hd}{
			margin-top: 240px;
			margin-left: 50px;
			margin-right: 50px;
	  }
	  @media #{$hd-plus}{
	    margin-top: 210px;
			margin-left: 50px;
			margin-right: 50px;
	  }
		@media #{$small-screen}{
	    top: 165px;
	  }
		@media #{$tablet}{
			font-size: 2rem;
	    top: 145px;

	  }
		@media #{$smartphone}{
			padding: 20px;
			margin-left: 0px;
			margin-right: 0px;
			font-size: 2em;
			text-align: left;
			top: 110px;
		}
	}
	.btn-cta{
		margin-top: 155px;
		@media #{$small-screen}{
	    margin-top: 165px;
	  }
		@media #{$tablet}{
	    margin-top: 145px;
	  }
		@media #{$smartphone}{
			margin-top: 110px;
		}
	}
}

.btn-cta{
	z-index: 5;
	a{
		font-family: "Montserrat", sans-serif;
		position: relative;
	  margin-top: 0px;
	  display: inline-block;
		background-color: #64a507;
	  color: #fefefe;
	  padding: 15px 40px;
	  font-size: 1.2em;
		font-weight: bold;
	  transition: all .2s ease-in-out;
		border: 4px solid transparent;
	  &:hover{
	    text-decoration: none;
	    color: #64a507;
	    background-color: #fefefe;
			border: 4px solid #64a507;
	  }
	}
}

.block-1 {
	border-top: 2px solid #64a507;
	background: #fefefe;
	position: relative;
	z-index: 2;
	padding-top: 20px;
	padding-bottom: 20px;
	@include media-breakpoint-up(md) {
		margin-left: 50px;
		margin-right: 50px;
		padding: 30px;
	}
	&.overlap {
		margin-top: 15px;
		#phn{
			@media #{$laptop-with-touch}{
				padding: 0;
		  }
		}
	}
	.phone-img{
		img{
			width: 60px;
			display: inline-block;
		}
		span{
			top: -6px !important;
			@media #{$tablet}{
				top: -10px !important;
		  }
		}
		@media #{$smartphone}{
			margin-bottom: 15px;
		}
	}
	div{
		overflow-y: hidden;
	}
	span{
		position: relative;
		top: 3px;
		font-size: 1.1rem;
		font-weight: bold;
		margin: 10px 0px;
		padding: 0px 10px;
		color: #333;
		vertical-align: bottom;
		@media #{$smartphone}{
			font-size: 1rem;
		}
		@media #{$tablet}{
			font-size: .9rem;
			top: 13px;
	  }
	}
	.right-border{
		border-right: 2px solid #64a507;
	}
}

.block-2 {
	figure {
		position: relative;
		.play-button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 40px;
			width: 90px;
			height: 90px;
			background: #fefefe;
			display: block;
			border-radius: 50%;
			opacity: .8;
			color: #64a507;
			&:hover {
				opacity: 1;
			}
			> span {
				position: absolute;
				left: 55%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.block-3 {
	.heading {
		max-width: 400px;
		margin-bottom: 20px;
		h2 {
			font-size: 2.8rem;
			margin: 0;
			padding: 0px 0px 10px;
			color: #333;
			&:after{
				position: absolute;
				top: 55px;
				left: 15px;
				content: "";
				width: 29px;
				height: 4px;
				background-color: #64a507;
			}
		}
	}
	.text {
		max-width: 450px;
	}
	.text-black{
		font-weight: bold;
		color: #555;
	}
}

.img-shadow {
	border: 6px solid #fff;
	box-shadow: 0 1px 20px -5px rgba(0,0,0,.3);
}

.block-13 {
	.owl-nav {
		position: relative;
		position: absolute;
		bottom: -50px;
		left: 50%;
		transform: translateX(-50%);

		.owl-prev, .owl-next {
			margin: 0 10px;
			position: relative;
			display: inline-block;
			padding: 20px;
			font-size: 30px!important;
			&:active, &:focus {
				outline: none;
			}
			&.disabled {
				opacity: .2;
			}
		}
	}
}

.block-20 {
	background: #fefefe;
	box-shadow: 0 2px 40px -10px rgba(0,0,0,.1);
	border: none!important;
	margin-top: 50px;
	.text {
		padding: 20px;
		.heading {
			font-size: 30px;
			padding-bottom: 15px;
			margin-bottom: 15px;
			line-height: 1.2;
			border-bottom: 2px solid #64a507;
		}
		p{
			padding-bottom: 7.5px;
			border-bottom: 1px solid #DDD;
		}
		a{
			text-decoration: none;
			color: #64a507;
			font-weight: bold;
			transition: all .2s ease-in-out;
			&:hover{
				color: #333;
			}
		}
	}
	.meta {
		> div {
			display: inline-block;
			margin-right: 15px;
			margin-bottom: 5px;
			font-size: 15px;
			a {
				color: lighten(#000, 70%);
				&:hover {
					color: lighten(#000, 30%);
				}
			}
		}
	}
	#eye{
	  text-align: center;
	  font-size: 1.5em;
	  line-height: 55px;
	  color: #fff;
	  position: absolute;
	  top: 358px;
	  right: 15px;
	  width: 55px;
	  height: 55px;
	  border-radius: 27.5px;
	  background-color: #64a507;
	  cursor: pointer;
	  z-index: 5;
	  box-shadow: 0px 0px 10px #999;
		@media #{$full-hd}{
			top: 540px;
		}
		@media #{$hd-plus}{
			top: 460px;
		}
		@media #{$laptop-with-hidpi}{
			top: 380px;
		}
		@media #{$laptop-with-touch}{
			top: 325px;
		}
		@media #{$small-screen}{
			top: 370px;
		}
		@media #{$tablet}{
			top: 380px;
		}
		@media #{$smartphone}{
			top: 415px;
		}
	}
	#eye2{
	  text-align: center;
	  font-size: 1.5em;
	  line-height: 55px;
	  color: #fff;
	  position: absolute;
	  top: 253px;
	  right: 15px;
	  width: 55px;
	  height: 55px;
	  border-radius: 27.5px;
	  background-color: #64a507;
	  cursor: pointer;
	  z-index: 5;
	  box-shadow: 0px 0px 12px #ccc;
		@media #{$small-screen}{
			top: 215px;
		}
		@media #{$tablet}{
			top: 240px;
		}
	}
}

.fp{
	padding-bottom: 150px;
	.block-3 {
		.heading {
			max-width: 600px;
			margin: 50px 0px;
			h2 {
				font-size: 45px;
				margin: 0;
				padding: 0px 0px 10px;
				color: #333;
				&:after{
					position: absolute;
					top: 105px;
					left: 15px;
					content: "";
					width: 29px;
					height: 4px;
					background-color: #64a507;
				}
			}
		}

	}
	.btn-cta{
		position: relative;
		top: 50px;
	}
}

.spare-parts{
	.block-3 {
		.heading {
			max-width: 600px;
			margin: 50px 0px 50px;
			h2 {
				font-size: 45px;
				margin: 0;
				padding: 0px 0px 10px;
				color: #333;
				&:after{
					position: absolute;
					top: 105px;
					left: 15px;
					content: "";
					width: 29px;
					height: 4px;
					background-color: #64a507;
				}
			}
		}
	}
	.btn-cta{
		position: relative;
		top: 50px;
	}
}

.heading-pro{
	max-width: 600px;
	margin: 100px 0px 50px;
	h2 {
		font-size: 45px;
		margin: 0;
		padding: 0px 0px 10px;
		color: #333;
		&:after{
			position: absolute;
			top: 155px;
			left: 15px;
			content: "";
			width: 29px;
			height: 4px;
			background-color: #64a507;
		}
	}
}

.most_product_area{
	.main_box{
		// box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
		padding-top: 100px;
		padding-bottom: 100px;
		margin-top: -50px;
		margin-bottom: -50px;
		position: relative;
		z-index: 10;
	}
}
.most_product_inner{
	margin-bottom: -30px;
}
.most_p_list{
	.media{
		margin-bottom: 30px;
		box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
		padding: 10px;
		.d-flex{
			padding-right: 20px;
			img{
				width: 70px;
				height: 70px;
			}
		}
		.media-body{
			vertical-align: middle;
			align-self: center;
			h4{
				margin-bottom: 8px;
				font-size: 14px;
				font-weight: normal;
				color: #333;
			}
			p{
				font-size: 12px;
				font-weight: 500;
				color: #555;
				margin-bottom: 0px;
			}
		}
	}
	a:hover{
		text-decoration: none;
	}
}

.spare-parts{
	.btn-cta{
		position: relative;
		top: 0px;
		margin: 30px 0px 30px;
	}
}

#contact{
  background-image: url("../images/map.png");
  background-size: cover;
  background-attachment: fixed;
	padding-bottom: 50px;
	.heading{
		max-width: 600px;
		margin: 50px 0px;
		h2 {
			font-size: 45px;
			margin: 0;
			padding: 0px 0px 10px;
			color: #333;
			&:after{
				position: absolute;
				top: 105px;
				left: 18px;
				content: "";
				width: 29px;
				height: 4px;
				background-color: #64a507;
			}
		}
	}
  .form-control-feedback{
    top: 4px;
    right: 20px;
  }
  .btn-cta{
    margin-bottom: 30px;
  }
  .quick-form{
    padding: 0px 0px;
    font-size: 1.3em;
    input{
      padding: 20px;
      font-size: 1em;
    }
    [type = submit]{
      padding: 10px 50px;
      transition: all .2s ease-in-out;
      border-radius: 0px;
      font-size: 1em;
    }
    textarea{
      resize: none;
      font-size: 1em;
    }
  }
}

.send-btn{
	input{
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		margin-top: 0px;
		display: inline-block;
		background-color: transparent;
		color: #64a507;
		padding: 5px 20px !important;
		font-size: 1em;
		transition: all .2s ease-in-out;
		border: 4px solid #64a507;
		&:hover{
			text-decoration: none;
			color: #fefefe;
			background-color: #64a507;
			border: 4px solid #64a507;
		}
	}
}

#footer{
  background-color: #64a507;
	padding: 50px 50px 10px;
	.footer-border{
		padding: 20px 0px;
		border-top: 1px solid #fefefe;
		margin-top: 50px;
	}
  small{
    color: #ddd;
  }
  strong{
    font-weight: 600;
  }
  a{
    color: #eee;
    &:hover{
      text-decoration: none;
      color: #fff;
    }
  }
  #last-child{
    border: none;
    li{
      font-size: 1.1em;
      color: #eee;
      font-weight: 400;
      span{
        font-weight: bold;
        font-size: 1.3em;
        color: #fefefe;
      }
    }
  }
  .text-right{
    display: inline-block;
    text-align: right;
  }
  ul{
    list-style: none;
    border-right: 1px solid #ddd;
    font-size: 1.1em;
    line-height: 2;
    margin: 10px;
    -webkit-padding-start: 0px !important;

    li{
      &:first-child{
        font-weight: bold;
        font-size: 1.3em;
        color: #fefefe;
      }
    }
  }
}

#fixed-nav{
	background-color: #fefefe;
  top: -215px;
  transition: all .5s ease-in-out;
	ul{
		margin-right: 65px;
		li{
			a{
				font-weight: 600;
				font-size: .9em;
		    letter-spacing: 2px;
		    color: #333333;
		    text-decoration: none;
		    padding: 10px;
		    opacity: .7;
				border-bottom: 2px solid transparent;
				transition: all .2s ease-in-out;
				&:hover{
					color: #64a507;
					border-bottom: 2px solid #64a507;
				}
			}
		}
	}
}

.map{
	display: block !important;
}

.whywork{
	background-color: #f8f9fa;
	.text {
		max-width: 750px;
	}
}

.machine{
	margin: 50px 0px;
	border: 1px solid #ddd;
	padding: 40px;
	.text-machine{
		font-family: 'Montserrat';
		font-size: 1em;
		line-height: 34px;
	}
	img{
		border: 5px solid #fff;
	}
}
.middle-mach{
	@media #{$smartphone}{
		display: flex;
		flex-direction: column-reverse;
	}
}
.team{
	background-color: #f8f9fa;
	margin-top: 70px;
	padding-bottom: 100px;
	.item{
		border: 5px solid #64a507;
		margin: 50px 70px;
		.block-20{
			margin-top: 0px;
		}
	}
	.text{
		text-align: center;
	}
}

.product-animation{
  position: relative;
  width: 100%;
  height: 336.33px;
	@media #{$full-hd}{
		height: 521px;
	}
	@media #{$hd-plus}{
		height: 441px;
	}
	@media #{$laptop-with-hidpi}{
		height: 361px;
	}
	@media #{$laptop-with-touch}{
		height: 307.66px;
	}
	@media #{$small-screen}{
		height: 352px;
	}
	@media #{$tablet}{
		height: 364px;
	}
	@media #{$smartphone}{
		height: 414px;
	}
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    height:auto;
    margin: 0 auto;
  }
}

#product-1{
  img{
    animation-name: product-animation-4;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 16s;
  }
}
@keyframes product-animation-4 {
  0% {
    opacity:1;
  }
  18.75% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  93.75% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#product-1 img:nth-of-type(1){
  animation-delay: 12s;
}
#product-1 img:nth-of-type(2){
  animation-delay: 8s;
}
#product-1 img:nth-of-type(3){
  animation-delay: 4s;
}
#product-1 img:nth-of-type(4){
  animation-delay: 0s;
}
